$background-dark: rgb(0,0,0);
$background-light: rgb(15,15,15);
$font-primary-color: rgb(255,239,194);
$font-secondary-color: rgb(170,170,155);
$yellow-background: rgb(245,197,24);
$green: rgb(97,199,79)