.header_sec {
  background-color: $background-light;
  width: 100%;
  nav {
    width: 100%;
    margin: 0 auto;
    padding: 0.65rem;
    display: flex;
    align-items: center;

    .logo_wrapper {
      flex-basis: 30%;
      .logo {
        background-color: $yellow-background;
        width: 22.5%;
        border-radius: 0.25rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
    .search_box {
      width: 100%;
      color: $font-primary-color;
      position: relative;
      left: 0;
      top: 0;

      input {
        padding: 0.4rem 1rem;
        width: 70%;
        border-radius: 0.25rem;
        font-weight: 550;
        font-size: 1.05rem;
        color: rgb(51, 50, 50);
        border: 0.18rem solid #fff;
        outline: 0;
      }

      input:focus {
        border: 0.18rem solid $yellow-background;
        border-radius: 0.25rem;
      }
      .search_btn {
        cursor: pointer;
        position: absolute;
        left: 65.2%;
        top: 0.375rem;
        color: #777;
        border-radius: 0.25rem;
        padding: 0.3rem 0.5rem;
        background-color: transparent;
        border: none;
        text-align: center;
        outline: none;
        z-index: 2;
      }
    }
  }
}
